{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Ocorrência</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h1>Editar Ocorrência</h1>
        <form method="post" action="{% url 'editar_ocorrencia' ocorrencia.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="profundidade">Profundidade (m)</label>
                <input type="text" class="form-control" id="profundidade" name="profundidade" value="{{ ocorrencia.profundidade }}">
            </div>
            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control" id="latitude" name="latitude" value="{{ ocorrencia.latitude }}">
            </div>
            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="text" class="form-control" id="longitude" name="longitude" value="{{ ocorrencia.longitude }}">
            </div>
            <div class="form-group">
                <label for="visibilidade">Visibilidade (m)</label>
                <input type="text" class="form-control" id="visibilidade" name="visibilidade" value="{{ ocorrencia.visibilidade }}">
            </div>
            <div class="form-group">
                <label for="temperatura_agua">Temperatura da Água (°C)</label>
                <input type="text" class="form-control" id="temperatura_agua" name="temperatura_agua" value="{{ ocorrencia.temperatura_agua }}">
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input type="text" class="form-control" id="quantidade" name="quantidade" value="{{ ocorrencia.quantidade }}">
            </div>
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" class="form-control" id="data" name="data" value="{{ ocorrencia.data|date:'Y-m-d' }}">
            </div>
            <div class="form-group">
                <label for="especie">Espécie</label>
                <select class="form-control" id="especie" name="especie">
                    <option value="CS" {% if ocorrencia.especie == 'CS' %}selected{% endif %}>Coral Sol</option>
                    <option value="PL" {% if ocorrencia.especie == 'PL' %}selected{% endif %}>Peixe Leão</option>
                </select>
            </div>
            <div class="form-group">
                <label for="imagens">Imagens</label>
                <input type="file" class="form-control" id="imagens" name="imagens" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <h2>Imagens:</h2>
        <div id="imagens">
            {% for imagem in imagens %}
                <div class="mb-3">
                    <img src="{{ imagem.imagem.url }}" alt="Imagem da Ocorrência" class="img-thumbnail">
                    <a href="{% url 'remover_imagem' ocorrencia.pk imagem.pk %}" class="btn btn-danger">Remover</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
