{% extends 'core/base.html' %}
{% load static %}

{% block title %}Editar Ocorrência{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-container">
                        <h3>Editar Ocorrência</h3>
                        <form method="post" action="{% url 'editar_ocorrencia' ocorrencia.pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="profundidade" class="form-label">Profundidade (m)</label>
                                <input type="number" class="form-control" id="profundidade" name="profundidade" value="{{ ocorrencia.profundidade|floatformat }}">
                            </div>
                            <div class="mb-3">
                                <label for="latitude" class="form-label">Latitude</label>
                                <input type="text" class="form-control" id="latitude" name="latitude" value="{{ ocorrencia.latitude }}">
                            </div>
                            <div class="mb-3">
                                <label for="longitude" class="form-label">Longitude</label>
                                <input type="text" class="form-control" id="longitude" name="longitude" value="{{ ocorrencia.longitude }}">
                            </div>
                            <div class="mb-3">
                                <label for="visibilidade" class="form-label">Visibilidade (m)</label>
                                <input type="number" class="form-control" id="visibilidade" name="visibilidade" value="{{ ocorrencia.visibilidade|floatformat }}">
                            </div>
                            <div class="mb-3">
                                <label for="temperatura_agua" class="form-label">Temperatura da Água (°C)</label>
                                <input type="number" class="form-control" id="temperatura_agua" name="temperatura_agua" value="{{ ocorrencia.temperatura_agua|floatformat }}">
                            </div>
                            <div class="mb-3">
                                <label for="quantidade" class="form-label">Quantidade</label>
                                <input type="number" class="form-control" id="quantidade" name="quantidade" value="{{ ocorrencia.quantidade }}">
                            </div>
                            <div class="mb-3">
                                <label for="data" class="form-label">Data</label>
                                <input type="date" class="form-control" id="data" name="data" value="{{ ocorrencia.data|date:'Y-m-d' }}">
                            </div>
                            <div class="mb-3">
                                <label for="especie" class="form-label">Espécie</label>
                                <select class="form-select" id="especie" name="especie">
                                    <option value="CS" {% if ocorrencia.especie == 'CS' %} selected {% endif %}>Coral Sol</option>
                                    <option value="PL" {% if ocorrencia.especie == 'PL' %} selected {% endif %}>Peixe Leão</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="imagens" class="form-label">Imagens</label>
                                <input type="file" class="form-control" id="imagens" name="imagens" multiple>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Salvar Alterações</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="mapid" class="map map-home leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="height: 500px; position: relative; outline-style: none;" tabindex="0"></div>
                </div>
                <h2>Imagens:</h2>
                <div class="col-md-8">
                    <div class="row">
                        {% for imagem in imagens %}
                            <div class="col-md-6">
                                <img src="{{ imagem.imagem.url }}" alt="Imagem da Ocorrência" class="img-thumbnail">
                                <a href="{% url 'remover_imagem' ocorrencia.pk imagem.pk %}" class="btn btn-danger">Remover</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script>
        var ocorrenciaLatitude = parseFloat(document.getElementById('latitude').value);
        var ocorrenciaLongitude = parseFloat(document.getElementById('longitude').value);

        var map = L.map('mapid').setView([ocorrenciaLatitude, ocorrenciaLongitude], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
        var currentMarker = null;

        function addMarker(lat, lng) {
            if (currentMarker) {
                map.removeLayer(currentMarker);
            }
            currentMarker = L.marker([lat, lng]).addTo(map);
        }

        map.on('click', function (e) {
            document.getElementById('latitude').value = e.latlng.lat.toFixed(6);
            document.getElementById('longitude').value = e.latlng.lng.toFixed(6);
            addMarker(e.latlng.lat, e.latlng.lng);
        });

        addMarker(ocorrenciaLatitude, ocorrenciaLongitude);
    </script>
{% endblock %}
