{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Ocorrência</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
    <style>
        /* Adicione estilos adicionais aqui conforme necessário */
        .carousel-item img {
            max-height: 400px; /* Altura máxima das imagens do carrossel */
            margin: auto; /* Centraliza as imagens horizontalmente */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <a href="{% url 'mapa' %}" class="btn btn-primary btn-back-to-map">Voltar para o Mapa</a>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Detalhes da Ocorrência
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Mergulhador:</strong> {{ ocorrencia.mergulhador }}</p>
                        <p class="card-text"><strong>Profundidade:</strong> {{ ocorrencia.profundidade }}m</p>
                        <p class="card-text"><strong>Visibilidade:</strong> {{ ocorrencia.visibilidade }}m</p>
                        <p class="card-text"><strong>Temperatura da Água:</strong> {{ ocorrencia.temperatura_agua }}°C</p>
                        <p class="card-text"><strong>Quantidade:</strong> {{ ocorrencia.quantidade }}</p>
                        <p class="card-text"><strong>Data:</strong> {{ ocorrencia.data }}</p>
                        <p class="card-text"><strong>Espécie:</strong> {{ ocorrencia.especie }}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <h2>Imagens:</h2>
                <div id="carouselControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for imagem in imagens %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                <img class="d-block w-100" src="{{ imagem.imagem.url }}" alt="Imagem da Ocorrência" data-toggle="modal" data-target="#imagemModal{{ forloop.counter }}">
                            </div>

                            <div class="modal fade" id="imagemModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="imagemModal{{ forloop.counter }}Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="imagemModal{{ forloop.counter }}Label">Imagem {{ forloop.counter }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="img-fluid" src="{{ imagem.imagem.url }}" alt="Imagem da Ocorrência">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $('#carouselControls').on('slide.bs.carousel', function (e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 4;
            var totalItems = $('.carousel-item').length;

            if (idx >= totalItems-(itemsPerSlide-1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i=0; i<it; i++) {
                    if (e.direction == "left") {
                        $('.carousel-item').eq(i).appendTo('.carousel-inner');
                    } else {
                        $('.carousel-item').eq(0).appendTo('.carousel-inner');
                    }
                }
            }
        });
    </script>
</body>
</html>
