{% extends 'core/base.html' %}
{% load static %}

{% block title %}Detalhes{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark">
                        <span class="text-light">Detalhes da Ocorrência</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Mergulhador:</strong> {{ ocorrencia.mergulhador }}</p>
                        <p class="card-text"><strong>Profundidade:</strong> {{ ocorrencia.profundidade }}m</p>
                        <p class="card-text"><strong>Visibilidade:</strong> {{ ocorrencia.visibilidade }}m</p>
                        <p class="card-text"><strong>Temperatura da Água:</strong> {{ ocorrencia.temperatura_agua }}°C</p>
                        <p class="card-text"><strong>Quantidade:</strong> {{ ocorrencia.quantidade }}</p>
                        <p class="card-text"><strong>Data:</strong> {{ ocorrencia.data }}</p>
                        <p class="card-text"><strong>Latitude:</strong><span id="latitude">{{ ocorrencia.latitude }}</span></p>
                        <p class="card-text"><strong>Longitude:</strong><span id="longitude"> {{ ocorrencia.longitude }}</span></p>
                        
                        {% if ocorrencia.especie == "PL" %}
                            <p class="card-text"><strong>Espécie:</strong> Peixe Leão</p>
                        {% else %}
                            <p class="card-text"><strong>Espécie:</strong> Coral Sol</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="mapid" class="map map-home leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="height: 500px; position: relative; outline-style: none;" tabindex="0"></div>
            </div>
            
            {% if imagens|length > 0 %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body bg-dark">
                            <h5 class="card-title text-light">Imagens</h2></h5>
                        </div>
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                                {% for imagem in imagens %}
                                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                        <img class="d-block w-100" src="{{ imagem.imagem.url }}" alt="Imagem da Ocorrência" data-toggle="modal" data-target="#imagemModal{{ forloop.counter }}">
                                    </div>
        
                                    <div class="modal fade" id="imagemModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="imagemModal{{ forloop.counter }}Label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="imagemModal{{ forloop.counter }}Label">Imagem {{ forloop.counter }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="img-fluid" src="{{ imagem.imagem.url }}" alt="Imagem da Ocorrência">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body bg-dark">
                            <h5 class="card-title text-light">Imagens</h2></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Nenhuma imagem disponível.</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var ocorrenciaLatitude = parseFloat(document.getElementById('latitude').innerText);
        var ocorrenciaLongitude = parseFloat(document.getElementById('longitude').innerText);

        var map = L.map('mapid').setView([ocorrenciaLatitude, ocorrenciaLongitude], 7);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);
        
        L.marker([ocorrenciaLatitude, ocorrenciaLongitude]).addTo(map);
    </script>
{% endblock %}
