body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.login-container { 
    display: block;
    width: 20%;
    height: 200px;
    background-color:white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    margin-top: 200px;
}

.login-img img{
    background-color: #0F79BA;
    border-radius: 50%;
    padding: 10px;
    margin-top: -70px;
}

.login-container img {
    background-color: #0F79BA;
}

.login-inputs input::placeholder{
    color: white;
    font-size: 11px;
}
.login-inputs {
    display: flex; 
    align-items: center;
    margin-top: 20px;
}

.login-inputs img {
    height: 17px;
    background-color: #0F79BA;
    padding: 5px;
    width: 18px;
}

.login-inputs input {
    flex: 1;
    height: 25px;
    background-color: #0F79BA;
    color: white;
    border: none;
}
.login-others {
    display: flex;
}

.login-container p {
    font-size: 11px;
    margin-right: 12px;

}

.login-container a {
    text-decoration: none;
    color: #0F79BA;
}

.login-buttons {
    display: flex;
}

.login-buttons button {
    width: 100%;
    color: white;
    background-color: #0F79BA;
    border-color: white;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.login-buttons button:hover {
    color: #4B88FF;
    background-color: white;
    border: 2px solid #0F79BA;
    
}

.login-buttons .btn-register {
    margin-right: 20px;
}

