body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.aut-container {   
    display: flex;
    justify-content: space-between;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    border: 1px solid #4B88FF;
    border-radius: 15px;
}

.aut-signup {
    display: block;
    width: 30%;
    background-color:#4B88FF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 10px;
    justify-content: center;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    text-align: center;
}
.aut-signup button {
    color: #4B88FF;
    background-color: white;
    border-color: #4B88FF;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
}

.aut-signup button:hover {
    color: white;
    background-color: #4B88FF;
    border: 2px solid #f0f0f0;
    
}

.aut-create {
    display: block;
    width: 70%;
    height: 250px;
    background-color:white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

.aut-create p {
    color: #4B88FF;
    font-size: 12px;
}

.aut-create input {
    width: 90%;
    height: 17px;
    background-color: #4B88FF;
    color: white;
    border: none;
}

.aut-create input::placeholder{
    color: white;
    font-size: 11px;
}

.aut-create-type {
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;

}

.aut-create-type input {
    height: 11px;
    cursor: pointer;
}

.aut-create-type label {
    height: 11px;
    font-size: 11px;
    color: #4B88FF;
}

.aut-create button {
    color: white;
    width: 90%;
    background-color: #4B88FF;
    border-color: white;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
}

.aut-create button:hover {
    color: #4B88FF;
    background-color: white;
    border: 2px solid #4B88FF;
    
}



