/* slider.css */

.slider {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.slider-image {
    width: 200px; /* Define um tamanho fixo para as imagens */
    height: 150px; /* Define um tamanho fixo para as imagens */
    overflow: hidden; /* Oculta partes das imagens que excedem as dimensões */
}

.slider-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Adiciona uma transição suave ao redimensionar as imagens */
}

.slider-image.expanded img {
    transform: scale(1.5); /* Aumenta o tamanho da imagem quando expandida */
}
